
#formCard {
    padding: 0 20px 20px;
}

.card-margin {
    margin: 30px;
    padding: 30px;
}

.select-list {
    margin-top: 40px;
}

.parLogin {
    position: relative;
    top: 200px;
    margin-left: 10%;
    margin-right: auto;
    width: 400px;
}

#modalLogin {
    width: 500px;
    margin: auto;
}

.icon-red {
    color: red;
}

.chip {
    user-select: none;
    margin-top: 5px;
}

.boutons {
    padding-right: 20px;
}

.modal-img {
    width: 200px;
}

.exeListe {

}

.collapsible-body{
    padding-top: 15px;
    margin: auto;
    max-width: 90%;
}
#modalExecution{
    width: 550px;
    background: #fff;
    padding: 20px;
}

.loginTitre {
    display: flex;
    height: 100%;
    vertical-align: center;
    margin: 0px;
    padding: 0px;
}

<!-- calendrier -->
.calendar {
    height: auto;
}

#fullDiv {
    position: relative;
    background: white;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#fullDiv ul {
    margin: 0;
    padding: 0;
}

#fullDiv li {
    float: left;
    display: block;
    width: 14.2857%;
    user-select: none;
    text-align: center;
    list-style-type: none;
}

#fullDiv li:nth-child(n+1):nth-child(-n+7) {
    font-weight: 900;
    color: #e67e22;
}

#fullDiv li:nth-child(n+39), li:nth-child(n+8):nth-child(-n+16) {
    font-weight: 900;
    color: rgba(0,0,0,.3);
}

#fullDiv li:hover:nth-child(n+8):nth-child(-n+38), li:nth-child(17){
    border-radius: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
}
