
#formCard {
    padding: 0 20px 20px;
}


.select-list {
    margin-top: 40px;
}



.icon-red {
    color: red;
}

.boutons {
    padding-right: 20px;
}

.modal-img {
    width: 200px;
}

.exeListe {
}
